/*************************************  
DRY BASE STYLES  
**************************************/
*,
*:after,
*:before {
  	box-sizing: border-box;
}

a,
b,
h1,
h2,
small {
	font-weight: 900;
}

a,
b,
p,
small{
	font-size: 1rem;
	line-height: 1.625rem;
}

h1,
h2 {
	color: #28283D;
}

h1,
h2,
p,
span {
	text-align: center;
}

a,
footer,
footer h2 {
	color: #fafafa;
}

/*************************************  
BASE STYLES  
**************************************/
html {
	overflow-x: hidden;
}

body {
	display: block;
	color: #87879D;
	background-color: #fafafa;
	overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
	font-size: 2.5rem;
	line-height: 2.75rem;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.25rem;
}

p {
	font-weight: 500;
}

b {
	letter-spacing: 0.25rem;
	color: #4D96A9;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

footer {
	background-color: #4D96A9;
}
	footer p {
		font-size: 1.125rem;
	}

/*************************************  
CONTAINER STYLES  
**************************************/
.container {
	max-width: 1440px;
	margin: auto;
}

/*************************************  
BUTTON STYLES  
**************************************/
.btn {
	width: 12rem;
	height: 3.625rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 29px;
}

.btn--blue {
	background-color: #4D96A9;
	margin-bottom: 1rem;
}
.btn--blue:hover {
	background: #71C0D4;
}

.btn--purple {
	background-color: #855FB1;
}
.btn--purple:hover {
	background: #B18BDD;
}

.btn--what {
	width: 8.75rem;
	margin-bottom: 1rem;
}

	.btn span {
		padding-left: 0.3rem;
		color: rgba(250, 250, 250, 0.5);
	}

/*************************************  
HEADER STYLES  
**************************************/
header {
	width: 100%;
	height: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*************************************  
GROUP STYLES  
**************************************/
.group {
	overflow-x: hidden;
}
	.group__full {
		width: 110%;
		margin: auto;
		position: relative;
		left: -5%;
	}
	.group__left,
	.group__right {
		display: none;
	}
	

.group-chat__para {
	width: 90%;
	max-width: 22rem;
	margin: 0 auto 1.8rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

/*************************************  
MEDIA STYLES  
**************************************/
@media (min-width: 768px) { 
	h1 {
		font-size: 3rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 2.75rem;
	}

	p {
		font-size: 1.125rem;
	}

	header {
		height: 15.625rem;
	}

	.group {
		max-width: 50rem;
	}
		.group__full {
			width: 107%;
			left: -3.5%;
			display: block;
		}
		.group-chat__para {
			max-width: 32rem;
		}

	.buttons {
		width: 25rem;
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media (min-width: 1250px) { 
	h1 {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 2rem;
	}
	
	header {
		height: 18.75rem;
	}

	.group {
		display: flex;
		max-width: 1440px;
		justify-content: space-around;
	}
		.group__full {
			display: none;
		}
		.group__left,
		.group__right {
			display: inherit;
			position: relative;
		}
		.group__left{
			left: -2.6%;
			margin-bottom: 3rem;
		}
		.group__right {
			right: -2.6%;
			margin-top: 3rem;
		}
		.group-chat__para {
			max-width: 38rem;
		}
}