/*************************************  
DRY BASE STYLES  
**************************************/
*,
*:after,
*:before {
  	box-sizing: border-box;
}

a,
b,
h1,
h2,
small {
	font-weight: 900;
}

a,
b,
p,
small{
	font-size: 1rem;
	line-height: 1.625rem;
}

h1,
h2 {
	color: #28283D;
}

h1,
h2,
p,
span {
	text-align: center;
}

a,
footer,
footer h2 {
	color: #fafafa;
}

/*************************************  
BASE STYLES  
**************************************/
body {
	display: block;
	color: #87879D;
	background-color: #fafafa;
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
	font-size: 2.5rem;
	line-height: 2.75rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.25rem;
}

p {
	font-weight: 500;
}

b {
	letter-spacing: 0.25rem;
	color: #4D96A9;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

footer {
	background-color: #4D96A9;
}
	footer p {
		font-size: 1.125rem;
	}

/*************************************  
BUTTON STYLES  
**************************************/
.btn {
	width: 12rem;
	height: 3.625rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 29px;
}

.btn--blue {
	background-color: #4D96A9;
}
.btn--blue:hover {
	background: #71C0D4;
}

.btn--purple {
	background-color: #855FB1;
}
.btn--purple:hover {
	background: #B18BDD;
}

.btn--what {
	width: 8.75rem;
}

	.btn span {
		padding-left: 0.3rem;
		color: rgba(250, 250, 250, 0.5);
	}

/*************************************  
HEADER STYLES  
**************************************/
header {
	width: 100%;
	height: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*************************************  
MEDIA STYLES  
**************************************/
@media (min-width: 768px) { 
	h1 {
		font-size: 3rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 2.75rem;
	}

	p {
		font-size: 1.125rem;
	}

	header {
		height: 15.625rem;
	}
}


@media (min-width: 1110px) { 
	h1 {
		font-size: 4rem;
		line-height: 4rem;
	}
	
	header {
		height: 18.75rem;
	}
}