/*************************************  
DRY BASE STYLES  
**************************************/
*,
*:after,
*:before {
  	box-sizing: border-box;
}

a,
b,
h1,
h2,
small {
	font-weight: 900;
}

a,
b,
p,
small{
	font-size: 1rem;
	line-height: 1.625rem;
}

h1,
h2 {
	color: #28283D;
}

h1,
h2,
p,
b,
span {
	text-align: center;
}

a,
footer,
footer h2 {
	color: #fafafa;
}

/*************************************  
BASE STYLES  
**************************************/
html {
	overflow-x: hidden;
}

body {
	display: block;
	color: #87879D;
	background-color: #fafafa;
	overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
	font-size: 2.5rem;
	line-height: 2.75rem;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.25rem;
}

p {
	font-weight: 500;
}

b {
	display: block;
	letter-spacing: 0.25rem;
	color: #4D96A9;
	text-transform: uppercase;
	margin-top: 2rem;
}

a {
	text-decoration: none;
}

footer {
	max-width: 1440px;
	margin: 0 auto;
	background-color: #4D96A9;
	background-image: url(../assets/mobile/image-footer.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-blend-mode: soft-light;
}
	footer p {
		font-size: 1.125rem;
	}

/*************************************  
CONTAINER STYLES  
**************************************/
.container {
	max-width: 1440px;
	margin: auto;
}

.wrapper {
	width: 90%;
	margin: auto;
}

/*************************************  
BUTTON STYLES  
**************************************/
.btn {
	width: 12rem;
	height: 3.625rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 29px;
}

.btn--blue {
	background-color: #4D96A9;
	margin-bottom: 1rem;
}
.btn--blue:hover {
	background: #71C0D4;
}

.btn--purple {
	background-color: #855FB1;
}
.btn--purple:hover {
	background: #B18BDD;
}

.btn--what {
	width: 8.75rem;
	margin-bottom: 1rem;
}

	.btn span {
		padding-left: 0.3rem;
		color: rgba(250, 250, 250, 0.5);
	}

/*************************************  
HEADER STYLES  
**************************************/
header {
	width: 100%;
	height: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*************************************  
GROUP STYLES  
**************************************/
.group {
	overflow-x: hidden;
}
	.group__full {
		width: 110%;
		margin: auto;
		position: relative;
		left: -5%;
	}
	.group__left,
	.group__right {
		display: none;
	}
	

.group-chat__para {
	width: 90%;
	max-width: 22rem;
	margin: 0 auto 1.8rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

/*************************************  
PENDULUM STYLES  
**************************************/
.pendulum {
	width: 56px;
	margin: auto;
}
	.pendulum__line {
		width: 1px;
		height: 84px;
		background-color: #D8D8D8;
		margin: auto;
	}
	.pendulum__circle {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		border: 1px solid #D8D8D8;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #FAFAFA;
	}

.pendulum--1 {
	margin-top: 3rem;
}

.pendulum--2 {
	margin-bottom: -1.8rem;
	position: relative;
	z-index: 1;
}

/*************************************  
IMAGES STYLES  
**************************************/
.images {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 50rem;
}

.images img {
	width: 47%;
	border-radius: 12px;
	margin-bottom: 1.5rem;
}

/*************************************  
SMART STYLES  
**************************************/
.smart__heading {
	max-width: 20rem;
	margin: 1.8rem auto;
}
.smart__para {
	max-width: 42rem;
	margin: 0 auto 3rem;
}

/*************************************  
FOOTER STYLES  
**************************************/
.footer {
	height: 25.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.footer__heading {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
	.footer__para {
		max-width: 35rem;
		margin-bottom: 2rem;
	}
	
/*************************************  
MEDIA STYLES  
**************************************/
@media (min-width: 480px) { 
	footer {
		background-image: url(../assets/tablet/image-footer.jpg);
	}
}

@media (min-width: 768px) { 
	h1 {
		font-size: 3rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 2.75rem;
	}

	p {
		font-size: 1.125rem;
	}

	header {
		height: 15.625rem;
	}

	.group {
		max-width: 50rem;
	}
		.group__full {
			width: 107%;
			left: -3.5%;
			display: block;
		}
		.group-chat__para {
			max-width: 32rem;
		}

	.buttons {
		width: 25rem;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.images {
		max-width: 50rem;
	}
	
	.images img {
		width: 23%;
	}

	.smart__heading {
		max-width: 26rem;
	}
}

@media (min-width: 1000px) { 
	footer {
		background-image: url(../assets/desktop/image-footer.jpg);
	}
}

@media (min-width: 1250px) { 
	h1 {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 2rem;
	}
	
	header {
		height: 18.75rem;
	}

	.group {
		display: flex;
		max-width: 1440px;
		justify-content: space-around;
	}
		.group__full {
			display: none;
		}
		.group__left,
		.group__right {
			display: inherit;
			position: relative;
		}
		.group__left{
			left: -2.6%;
			margin-bottom: 3rem;
		}
		.group__right {
			right: -2.6%;
			margin-top: 3rem;
		}
		.group-chat__para {
			max-width: 38rem;
		}

	.pendulum--1 {
		margin-top: 5rem;
	}

	.images {
		max-width: 69.375rem;
		margin-bottom: 4rem;
	}

	.smart__para {
		max-width: 32rem;
	}

	.footer {
		position: relative;
		max-width: 1110px;
		flex-direction: row;
		justify-content: space-between;
		height: 19.25rem;
	}
		.footer__heading,
		.footer__para {
			margin: 0;
			text-align: left;
		}
		.footer__para {
			margin: 0;
			max-width: 22rem;
		}
}